<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="signDiv">
        <a routerLinkActive='active' [routerLink]="['/signup']"><span class="signSpan" *ngIf="!authchek">SIGN UP |</span></a>
        <a routerLinkActive='active' [routerLink]="['/signin']"><span class="signSpan"> {{authchek?'SIGNED:'+userLogin:'SIGN IN'}}</span></a>
        <a routerLinkActive='active' [routerLink]="['']" (click)='signOut()'><span class="signSpan"  *ngIf="authchek">| SIGN OUT </span></a>
    </div>
<div class="MH">
    
    
    <pre> ######  ##     ##    ###    ##       ##          ##      ## ########    ########  ##          ###    ##    ##       ###        ######      ###    ##     ## ########  ####### </pre>
    <pre>##    ## ##     ##   ## ##   ##       ##          ##  ##  ## ##          ##     ## ##         ## ##    ##  ##       ## ##      ##    ##    ## ##   ###   ### ##       ##     ## </pre>
    <pre>##       ##     ##  ##   ##  ##       ##          ##  ##  ## ##          ##     ## ##        ##   ##    ####       ##   ##     ##         ##   ##  #### #### ##             ##  </pre>
    <pre> ######  ######### ##     ## ##       ##          ##  ##  ## ######      ########  ##       ##     ##    ##       ##     ##    ##   #### ##     ## ## ### ## ######       ###   </pre>
    <pre>      ## ##     ## ######### ##       ##          ##  ##  ## ##          ##        ##       #########    ##       #########    ##    ##  ######### ##     ## ##          ##     </pre>
    <pre>##    ## ##     ## ##     ## ##       ##          ##  ##  ## ##          ##        ##       ##     ##    ##       ##     ##    ##    ##  ##     ## ##     ## ##                 </pre>
    <pre> ######  ##     ## ##     ## ######## ########     ###  ###  ########    ##        ######## ##     ##    ##       ##     ##     ######   ##     ## ##     ## ########    ##     </pre>
        
    </div>
<div class="MHSUB1">
        
    <a class="aclass" routerLinkActive='active' [routerLink]="['/gamelist']">GAMES LIST</a>
    <a class="aclass" routerLinkActive='active' [routerLink]="['/hs']">HIGH SCORES</a>
    <span class="hyperspan">FAQ</span>
    <a class="aclass" routerLinkActive='active' [routerLink]="['/about']">ABOUT</a>
    
</div>
</div>
<router-outlet></router-outlet>