<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="signDiv">
        <span class="signSpan">SIGN UP |</span>
        <a routerLinkActive='active' [routerLink]="['/signin']"><span class="signSpan"> SIGN IN |</span></a>
        <span class="signSpan"> SIGN OUT </span>
    </div>
<div class="MH">
    
    
    <pre> ######  ##     ##    ###    ##       ##          ##      ## ########    ########  ##          ###    ##    ##       ###        ######      ###    ##     ## ########  ####### </pre>
    <pre>##    ## ##     ##   ## ##   ##       ##          ##  ##  ## ##          ##     ## ##         ## ##    ##  ##       ## ##      ##    ##    ## ##   ###   ### ##       ##     ## </pre>
    <pre>##       ##     ##  ##   ##  ##       ##          ##  ##  ## ##          ##     ## ##        ##   ##    ####       ##   ##     ##         ##   ##  #### #### ##             ##  </pre>
    <pre> ######  ######### ##     ## ##       ##          ##  ##  ## ######      ########  ##       ##     ##    ##       ##     ##    ##   #### ##     ## ## ### ## ######       ###   </pre>
    <pre>      ## ##     ## ######### ##       ##          ##  ##  ## ##          ##        ##       #########    ##       #########    ##    ##  ######### ##     ## ##          ##     </pre>
    <pre>##    ## ##     ## ##     ## ##       ##          ##  ##  ## ##          ##        ##       ##     ##    ##       ##     ##    ##    ##  ##     ## ##     ## ##                 </pre>
    <pre> ######  ##     ## ##     ## ######## ########     ###  ###  ########    ##        ######## ##     ##    ##       ##     ##     ######   ##     ## ##     ## ########    ##     </pre>
        
    </div>
<div class="MHSUB1">
        
    <span class="hyperspan">GAMES LIST</span>
    <span class="hyperspan">HIGH SCORES</span>
    <span class="hyperspan">FAQ</span>
    <span class="hyperspan">ABOUT</span>
</div>
</div>
<router-outlet></router-outlet>