<div class="mainStyle">
    <div class="userHomeFrame">
        <table class="registrationTable">
            <tr>
                <th colspan="3"  class="thStyle">SHELL GAME</th>
                <th></th>
                <th></th>
            </tr>
            <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
                <td>
                    <button type="button" value="1" [disabled]="Gamer.Bid == null" class="buttonMy" (click)='play(Gamer.userResult = 1)'>SHELL 1</button>
                    </td>
                <td>
                    <button type="button" value="2" [disabled]="Gamer.Bid == null" class="buttonMy" (click)='play(Gamer.userResult = 2)'>SHELL 2</button>
                </td>
                <td>
                    <button type="button" value="3" [disabled]="Gamer.Bid == null" class="buttonMy" (click)='play(Gamer.userResult = 3)'>SHELL 3</button>
                </td>
            </tr>



            <tr *ngIf='!checkInput() && Gamer.Bid!=null'>
                <td></td>
                <td colspan="3" style="color:red;">Invalid input</td>
                <td></td>
            </tr>
            


            <tr>
                <td colspan="2" style="height:50px">Please make your bid:</td>
                <td>
                        <input class="regInput"  type="text" name="bid" [(ngModel)]='Gamer.Bid' (ngModelChange)="checkInput()">
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;" *ngIf="GamerRes.GameResult">
                    {{winMessage}}
                </td>
                <td colspan="3" *ngIf="!GamerRes.GameResult" style="color:red; text-align: center;">
                        {{looseMeassage}}
                    </td>
            </tr>
        </table>
    </div>
    <shell-child (onChange)="onChange($event)" [userScore]="GamerRes.CurrentScore" [gameLog]="log"></shell-child>
</div>