<div class="mainStyle">
    <div class="userHomeFrame">
        <table class="registrationTable">
            <tr>
                <th colspan="3"  class="thStyle">SHELL GAME</th>
                <th></th>
                <th></th>
            </tr>
            <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
                <td>
                    <button type="button" value="1" class="btn btn-default btn-circle btn-xl">SHELL 1</button>
                    </td>
                <td>
                    <button type="button" value="2" class="btn btn-default btn-circle btn-xl">SHELL 2</button>
                </td>
                <td>
                    <button type="button" value="3" class="btn btn-default btn-circle btn-xl">SHELL 3</button>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:50px">Please make your bid:</td>
                <td>
                        <input class="regInput"  type="text" name="Login" >
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>
</div>