
.userInfoFrame{
    position: absolute;
    float: right;
    width:18.6%;
    height:98%;
    border-style:solid;
    border-color:green;
    border-width: 1px;
    margin: 0.2%;
    overflow: hidden;
}

.userInfoFrameHeader{
    vertical-align: -webkit-baseline-middle;
    border-bottom:solid;
    border-width:2px;
    border-color:green;
    text-align: center;
    vertical-align: middle;
    font-size:large;
    width:100%;
    height:5%;
}
