<!-- Start of Main block-->
<div class="mainStyle">
    <div class="aboutSemanticHeader"><h1>Fast Answers and Questions</h1></div>
    <div class="aboutSemantic">
        <li>SignUP - Selece SignUp link at at the top of page, enter requested information and press "Submit" button. After that you will be imediately redirected into "SignIn" page</li>
        <li>SignIn - At SignIn  page you have to enter the login and password which you input at "SignUp" page, then you would able to use all features of this project.</li>
        <li>Shell-Game - At the page "Games List" select link "Shell-Game", you would be redirected to the main game page. For start game make bid at input field and then select one of three "Shells". Below input field you will see the game result. At the right side of the page you will see your current score and as well as whole game log. GOOD LUCK!</li>
        <li>Pac-Man - Unfortunatelly "Pac-Man" is currently under development, Sorry for Inconvenience</li>
        
    </div>
</div>
<!--End of Main block-->