<!-- Start of Main block-->
<div class="mainStyle">
    <div class="aboutSemanticHeader"><h1>Welcome to Games Project</h1></div>
    <div class="aboutSemantic">The Game Project has been developed during ELEKS "Summer .Net Camp 2018", as a part of learning project of Igor Mykula. Since May till September, we were learning with the best ELEKS professionals. Project is divided for two general parts parts Client and Web Api. Client had been developed by Angular framework, Client include user interface as well as some portions of interactions logic. The desing was choosen in a styles of 80-th "teminal style". Web Api contain games, user interaction, database logic etc. Api has been developed by ASP .NET core 2.1 and has been divided for layer's as well. I belive that during this project i got unbellivable experience in .Net and hope that You will spent awesome time by playing my small games.</div>
</div>
<!--End of Main block-->